//
// Bootstragram Web Commons
// Less Definitions
//

// We rely on Twitter Bootstrap to define our own stuff.
// One day, maybe we should get rid of this dependency.
@import "bootstrap.less";

// Re-definitions of Twitter Bootstrap variables.
@navbar-default-bg:                #fff;
@navbar-height:                    92px;
@navbar-margin-bottom:             0px;

// Mixes of Bootstrap and custom Bootstragram stuff
@navbar-bootstragram-logo-height:            41px;
@navbar-brand-bootstragram-padding-vertical: floor((@navbar-height - @navbar-bootstragram-logo-height) / 2);

@bootstragram-navbar-bar-font-size-base:       10px;
@bootstragram-navbar-bar-line-height-computed: floor(@bootstragram-navbar-bar-font-size-base * @line-height-base);
@navbar-bootstragram-padding-vertical:         floor(@bootstragram-navbar-bar-line-height-computed * (@line-height-base - 1));
@navbar-bootstragram-margin-vertical:          floor((@navbar-height - 2 * @navbar-bootstragram-padding-vertical - @bootstragram-navbar-bar-line-height-computed) / 2);
@bootstragram-navbar-bar-active-radius:        floor((@bootstragram-navbar-bar-line-height-computed + 2 * @navbar-bootstragram-padding-vertical) / 2);

@bootstragram-navbar-bar-font-size-base-ZOOM:       30px;
@bootstragram-navbar-bar-line-height-computed-ZOOM: floor(@bootstragram-navbar-bar-font-size-base-ZOOM * @line-height-base);

// The Bootstragram color scheme and typo stuff, as defined by Jogo.
@bootstragram-background-color: #fff;
@bootstragram-color: #4c4d4f;
@bootstragram-color-light: #b2b2b2;
@bootstragram-accent-color-1: #db6149;
@bootstragram-accent-color-2: #ecb39f;
@bootstragram-accent-color-3: #db4045;
@bootstragram-font-family: 'Titillium Web', 'Titillium', sans-serif;

// Debug stuff
@bootstragram-debug-background-color: orange;

// Load Google Fonts
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

// Mix-in Definitions
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}

.jumbotron-header (@var: 0px) {
  font-weight: bold;
  font-size: 42px;    
}


// Style really starts here...

body {
  background-color: @bootstragram-background-color;
  color: @bootstragram-color;
  font-family: @bootstragram-font-family;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

// Navbar

nav.navbar {
  border-top:    4px solid @bootstragram-accent-color-1;
  border-bottom: 1px solid @bootstragram-color-light;
  img {
    height: @navbar-bootstragram-logo-height; // The logo should be this size
  }
  
}

.navbar-brand {
  padding: @navbar-brand-bootstragram-padding-vertical @navbar-padding-horizontal;
}

.navbar-default {
  .navbar-nav > li > a {
    // Common attributes: collapsed and not collapsed
    font-weight:    600;

    text-transform: uppercase;
    
    &:hover, 
    &:focus {
      color: @bootstragram-accent-color-1;
    }

    // Collapsed only (eg BIGGER)
    font-size:      @bootstragram-navbar-bar-font-size-base-ZOOM;
    line-height:    @bootstragram-navbar-bar-line-height-computed-ZOOM;
    text-align: center;
    //padding-top: 0.2em;
    //padding-bottom: 0.2em;
    
    // Not-collapsed (eg SMALLER)
    @media (min-width: @grid-float-breakpoint) {
      padding-top:    @navbar-bootstragram-padding-vertical;
      padding-bottom: @navbar-bootstragram-padding-vertical;
      font-size:      @bootstragram-navbar-bar-font-size-base;
      line-height:    @bootstragram-navbar-bar-line-height-computed;
      text-align: left;
      //TODO replace margins by inline-block vertically centered?
      margin-top: @navbar-bootstragram-margin-vertical;
      margin-bottom: @navbar-bootstragram-margin-vertical;
    }
  }
  
  .navbar-toggle {
    border: none;
  }
}

.navbar-default .navbar-nav > .active > a {
  @media (min-width: @grid-float-breakpoint) {
    .border-radius(@radius: @bootstragram-navbar-bar-active-radius);
  }

  color: white;
  background-color: @bootstragram-accent-color-1;

  &:hover {
    background-color: @bootstragram-accent-color-2;
    color: @bootstragram-accent-color-1;
  }
}

nav.bootstragram {
}

// Footer

footer.bootstragram {
  border-top: 1px solid @bootstragram-color-light;
  
  .container {
    padding-top: 2.875em;    
    border-top: thin solid @bootstragram-color;
    top: -1px;
  }
  
  margin: 15px;
  text-align: center;
  padding-bottom: 75px;
  color: @bootstragram-color;
  
  .bootstragram-logo {
    position: relative;
    text-align: center;
    margin: auto;
    width: 130px;
    padding-bottom: 22px;
    
    img {
      width: 60px;
    }
  }
  
  .footer-text {
    .footer-text-title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 18px;
      font-size: 18px;    
    }
    .footer-text-subtitle {
      color: @bootstragram-color-light;
      margin-bottom: 20px;
      font-size: 20px;    
    }
    .footer-text-body {
      margin-bottom: 36px;      
    }    
    .footer-icons-links {
      font-size: 18px;
      margin-bottom: 40px;

      button {
        .border-radius(@radius: 18px);
        border: 1px solid @bootstragram-color-light;
        background-color: transparent;
        padding-top: 0px;
        margin-left: 11px;
        margin-right: 11px;
        width: 36px;
        height: 36px;
      }
      
      button.negative {
        background-color: @bootstragram-color;
        color: white;
      }
      
      button:hover {
        border: 1px solid @bootstragram-accent-color-2;
        background-color: @bootstragram-accent-color-1;
        color: @bootstragram-background-color;
      }
      
      a {
        margin-left: 11px;
        margin-right: 11px;
        color: @bootstragram-color;
        font-weight: bold;
        font-size: 24px;
      }
      
      a:hover {
        text-decoration: none;
        color: @bootstragram-accent-color-1;
      }
    }
  }
  
  button.action {
    background-color: @bootstragram-color;
    color: @bootstragram-background-color;
    .border-radius(@radius: 24px);
    height: 48px;
    font-size: 18px;
    padding-left: 48px;
    padding-right: 48px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    
    span {
      display: inline-block;
      padding-top: 0px;
      letter-spacing: 1px;
    }
  }
  
  button.action:hover {
    background-color: @bootstragram-accent-color-1;
  }
}

// Jumbotron

#jumbotron {
  background-color: darken(@bootstragram-background-color, 2%);
  padding: 0;
  margin: 0;

  #jumbomain {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 680px;

    background-position: center center;
    background-size: cover;
    
    overflow: hidden;
    
    text-align: center;
    color: white;
    h1 {
      color: white;
      .jumbotron-header (@var: 0px);
      text-shadow: 1px 1px @bootstragram-color;
    }
  
    h2 {
      color: @bootstragram-accent-color-1;
      .jumbotron-header (@var: 0px);
      text-shadow: 1px 1px @bootstragram-color;
    }
  
    a, button {
      color: inherit;
      height: 44px;
      background-color: transparent;
      border: 2px solid white;
      padding-left: 1em;
      padding-right: 1em;
      .border-radius (@radius: 22px); 
      text-transform: uppercase;

      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;    
      }
    }  
    
    a:hover {
      background-color: @bootstragram-accent-color-1;
      color: white;
    }
    
    img {
      max-width: 100%;
    }
  }
  
  #jumbostill {
    z-index: 3;
  }
  
  .jumbohead {
    text-align: center;
    @media (min-width: @screen-sm-min) { text-align: left; }
    vertical-align: middle;
  }
  
  .card {
    border: 1px solid @bootstragram-color-light;
    .border-radius(10px);
    padding: 10px;
    margin: 3.2em auto; // Centered horizontally

    // In a mono-column setup, we don't want the card to take 100% of the available space
    max-width: 66%; 
    @media (min-width: @screen-sm-min) { max-width: none; }
    
    cursor: pointer;
  
    h1 { // Formatting of a card title
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 600;
      text-align: center;
      margin: 16px 0 0 0;
      padding: 0;
    }
  
    h2 {
      margin: 0;
      padding: 0;
      color: @bootstragram-accent-color-1;
    }
  
    .c2a {
      margin-top: 1.4em;
      padding: 1.3em 0 0.7em 0;
      border-top: thin solid lighten(@bootstragram-color-light, 20%);
      text-transform: uppercase;
      text-align: center;
      font-size: 0.9em;
      font-weight: 700;  
    
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;    
      }
    }
  }

  .card:hover {
    border: 1px solid @bootstragram-accent-color-1;
  
    .c2a {
      color: @bootstragram-accent-color-1;
    }
  }
}

#main {
  h2 {
    text-align: center;
  }
}