<a href="#" class="bsg-c2a-button">
    <span>Just a title</span>
</a>

<a href="#" class="bsg-c2a-button">
        <span><i class="fa fa-github fa-2x"></i></span>
        <span>Just a title</span>
</a>

<a href="#" class="bsg-c2a-button bsg-c2a-button-double">
        <span>Just a title</span>
        <span><img src="https://unsplash.it/200/40"></span>
</a>

<a href="#" class="bsg-c2a-button bsg-c2a-button-double">
        <span><i class="fa fa-github fa-2x"></i></span>
        <span>Just a title</span>
        <span><img src="https://unsplash.it/200/40"></span>
</a>
